@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.slide{
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.slide.flex{
    opacity: 1;
    height: auto;
}

.change-category{
    font-weight: normal;
}

.change-category.active{
    font-weight: bold;
}